# This is Git's per-user configuration file.
[user]
	email = joshua.payne.j@gmail.com
	name = Joshua Payne
# Please adapt and uncomment the following lines:
#	name = 
#	email = paynejj@DESKTOP-E2MB9V1.
