[submodule "antidote"]
	path = .config/zsh/.antidote
	url = https://github.com/mattmc3/antidote.git
[submodule "neovim"]
	path = .config/programs/neovim
	url = https://github.com/neovim/neovim.git
	branch = nightly
[submodule "nvim_config"]
	path = .config/nvim
	url = https://github.com/paynejj/nvim_config.git
	branch = main
